<div class="row mt-2">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Детали заявки
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Имя: {{ application.firstName }}</li>
      <li class="list-group-item">Фамилия: {{ application.lastName }}</li>
      <li class="list-group-item">Отчество: {{ application.patronymic }}</li>
      <li class="list-group-item">Номер телефона: {{ application.phoneNumber }}</li>
      <li class="list-group-item">Место работы/учебы: {{ application.place }}</li>
      <li class="list-group-item">Вариант футболки: {{ application.gender }}</li>
      <li class="list-group-item">Размер футболки: {{ application.size }}</li>
      <li class="list-group-item">Комментарии: {{ application.comment }}</li>
    </ul>
    <ul class="list-group list-group-flush">
      Навыки:
      <li class="list-group-item"
          *ngFor="let skill of application.skills">
        {{ skill['skill'].toUpperCase() }}: {{ skill['level'].toUpperCase() }}
      </li>
    </ul>
    <div class="card-footer">
      <p>Изменение заявки:</p>
      <a class="btn btn-secondary" [routerLink]="['edit']">Изменить</a>&nbsp;
      <button
        class="btn btn-danger"
        (click)="onRemove()"
        [disabled]="isRemoving"
      >
          <span *ngIf="!isRemoving">
            Удалить
          </span>
        <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
            <span class="sr-only">Removing...</span>
          </span>
      </button>
    </div>
  </div>
</div>
