<div class="container">
  <div class="row mt-3">
    <h3>{{ isEdit ? 'Изменение заявки' : 'Новая заявка' }}</h3>
  </div>
  <div class="row-cols-2 mt-3 mb-3">
    <form (ngSubmit)="onSubmit()" [formGroup]="applicationForm" >
      <div class="form-group">
        <label for="firstName">Имя</label>
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('firstName', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите  имя
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input
          type="text"
          formControlName="lastName"
          id="lastName"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('lastName', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите  фамилию
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="patronymic">Отчество</label>
        <input
          type="text"
          formControlName="patronymic"
          id="patronymic"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('patronymic', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите номер телефона
        </small>
      </div>

      <hr/>


      <div class="form-group">
        <label for="phoneNumber">Номер телефона</label>
        <input
          type="text"
          formControlName="phoneNumber"
          id="phoneNumber"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('phoneNumber', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите  номер телефона
        </small>
        <small
          *ngIf="fieldHasError('phoneNumber', 'phoneNumber')"
          class="form-text invalid-form-text"
        >
          Напишите  номер телефона корректно
        </small>
        <small class="form-text">Например: в формате +996XXXYYYYYY | (+996)XXXYYYYYY | +(996)XXX-YYY-YYY
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="place">Место работы/учебы</label>
        <input
          type="text"
          formControlName="place"
          id="place"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('place', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите место работы или учебы
        </small>
      </div>

      <hr/>


      <div class="form-group">
        <label for="size">Размер футболки</label>
        <select
          class="form-control"
          id="size"
          formControlName="size"
        >
          <option value="">Выберите размер</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
        <small
          *ngIf="fieldHasError('size', 'required')"
          class="form-text invalid-form-text"
        >
          Выберите размер
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <p>Вариант футболки</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="maleGender"
            value="Мужская"
            formControlName="gender"

          />
          <label for="maleGender">Мужская</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="femaleGender"
            value="Женская"
            formControlName="gender"
          />
          <label for="femaleGender">Женская</label>
        </div>
        <div class="form-check form-check-inline">
          <button type="button" class="btn btn-outline-info" (click)="resetGender()">Reset</button>
        </div>
        <small
          *ngIf="fieldHasError('gender', 'required')"
          class="form-text invalid-form-text"
        >
          Выберите ваш пол
        </small>
      </div>

      <hr/>

      <div class="form-group">
        <label for="comment">Комментарии</label>
        <textarea
          class="form-control"
          id="comment"
          formControlName="comment"
          (input)="getLength()"
        ></textarea>
        <small class="form-text">{{ counter }}/300</small>
        <small
          *ngIf="fieldHasError('comment', 'required')"
          class="form-text invalid-form-text"
        >
          Напишите  комментарии
        </small>
        <small
          *ngIf="fieldHasError('comment', 'maxlength')"
          class="form-text invalid-form-text"
        >
          Комментарий должен быть не более 300 символов
        </small>
      </div>

      <hr/>

      <div class="form-group" formArrayName="skills">
        <button
          type="button"
          class="btn btn-outline-info mb-3"
          (click)="addSkill()"
        >Добавить навык</button>
        <button
          type="button"
          class="btn btn-outline-dark mb-3"
          (click)="resetSkills()"
        >Сброс</button>

        <div class="form-inline mb-3" *ngFor="let skillControl of getSkillControls(); let i = index">
          <div [formGroupName]="i" >
            <select
              formControlName="skill"
              class="form-control"
            >
              <option value="">Выберите навык</option>
              <option value="javaScript">JavaScript</option>
              <option value="react">React</option>
              <option value="angular">Angular</option>
              <option value="vue">Vue</option>
            </select>

            <select
              formControlName="level"
              class="form-control"
            >
              <option value="">Выберите уровень навыка</option>
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
            <button
              type="button"
              class="btn btn-outline-dark mb-3"
              (click)="deleteSkill(i)"
            >Удалить</button>
          </div>

          <small
            *ngIf="skillHasError(skillControl, 'required', 'skill')"
            class="form-text invalid-form-text mr-3"
          >
            Выберите навык
          </small>
          <small
            *ngIf="skillHasError(skillControl, 'required', 'level')"
            class="form-text invalid-form-text"
          >
            Выберите уровень
          </small>
        </div>
      </div>

      <hr/>

      <button
        [disabled]="applicationForm.invalid"
        class="btn btn-primary"
        type="submit"
      >
        <span *ngIf="!isUploading">
          {{ isEdit ? 'Изменить' : 'Создать' }}
        </span>
        <span *ngIf="isUploading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>

