<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" routerLink="/">NEW APPLICATION</a>

  <div class="navbar-expand">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="/applications" class="nav-link">Manage applications</a>
      </li>
    </ul>
  </div>
</nav>
