<div class="row mt-2">
  <div class="col">
    <h4>Изменение заявок</h4>
    <div class="list-group" *ngIf="!isFetching; else loading">
      <a
        *ngFor="let application of applications"
        class="list-group-item list-group-item-action"
        [routerLink]="[application.id]"
        routerLinkActive="active"
      >{{ application.firstName }}</a>
    </div>
    <ng-template #loading>
      <span class="spinner-border">
        <span class="sr-only">Loading...</span>
      </span>
    </ng-template>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
